{% extends 'base.html' %}

{% block content %}
 
    <section class="card card-body">
      <h1 class="display-1 text-center">Django App</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis velit, vero architecto quo molestias nisi voluptate exercitationem ut quas iusto saepe ea fugit itaque, ipsa fuga. Doloribus accusantium illum similique aut ut eum unde! Laborum magnam temporibus tempora eos ut, cupiditate praesentium. Quod assumenda sapiente eveniet totam eos quidem quos?</p>
    
      <div class="text-center">
        <a class="btn btn-primary" href="{% url 'signin' %}"> signin</a>
        <a class="btn btn-success" href="{% url 'signup' %}"> signup</a>
      </div>
    
    </section>
 
{% endblock %}
