{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center display-1">Tasks Pending</h1>
      <ul class="list-group">
        {% for task in tasks %}
          <li class="list-group-item">
            <header class="d-flex justify-content-between">
              <a href="{% url 'task_detail' task.id %}">
                {% if task.important %}
                  <h1 class="fw-bold text-success">{{ task.title }}</h1>
                {% else %}
                  <h1>{{ task.title }}</h1>
                {% endif %}
              </a>
              <p>{{ task.user.username }}</p>
            </header>
            <p>{{ task.description }}</p>

            <p>{{ task.datecompleted|date:'M j Y:i' }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
